<form [formGroup]="discussion">
  <label>
    Book Title: <br>
    <input type="text" formControlName="bookTitle">
  </label>
  
  <br>
  
  <label>
    Question: <br>
    <textarea name="question" id="question" cols="30" rows="10" formControlName="question">
    </textarea>
  </label>
  
  <!-- <p>Value: {{question.value}}</p> -->
</form>

<form [formGroup]="discussion" (ngSubmit)="onSubmit()">
<button type="submit">Submit</button>

<form [formGroup]="discussion" (ngSubmit)="onReply()">
<button type="submit">Reply</button>
